<!-- Here, we added the get_flashed_messages section -->
<!DOCTYPE html>
<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- w3schools CSS -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        {% if title %}
      <title>{{title}}</title>
      {% else %}
      <title>Page </title>
      {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Multy way partitioning SNP algorithm </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
<!--              <a class="nav-item nav-link" href="/login">Login</a>-->
<!--              <a class="nav-item nav-link" href="/data">Data</a>-->
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5" id="mySidebar">
<!--      <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>-->
<!--      <a class="w3-bar-item w3-button" href="#">Link 1</a>-->
<!--      <a class="w3-bar-item w3-button" href="#">Link 2</a>-->
<!--      <a class="w3-bar-item w3-button" href="#">Link 3</a>-->
    </div>

    <!-- Page Content -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>
    <span class="w3-button w3-white w3-xxlarge" onclick="w3_open()">&#9776;</span>
    
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">


        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>"Multi-Way Number Partitioning" by: Richard E. Korf , 2009
The main purpose of this article is to solve the known Number Partitioning problem, in focus
on multi way Partitioning (more than 2 bins).</h3>
<!--            <p class='text-muted'>You can put any information here you'd like.-->
<!--              <ul class="list-group">-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Latest Posts</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Announcements</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">Calendars</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item list-group-item-light">etc</li>&ndash;&gt;-->
<!--              </ul>-->
<!--            </p>-->
          </div>
        </div>
      </div>
    </main>


      
    <script>
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>